@font-face {
  font-family: "Bisdak";
  src: url("https://github.com/suak7/aktas-barbershop/raw/refs/heads/main/Bisdak.woff2");
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: #000000;
    margin: 20px;
    margin-bottom: 800px;
}

.gradient-text {
    font-family: "Bisdak", sans-serif;
    font-weight: 400px;
    font-size: 90px;
    text-align: center;
    margin-top: 340px;
    margin-left: 100px;
    color: #c59e01;
    position: absolute;
}

.portfolio {
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    margin-top: 20px; 
    margin-left: 80px;
    color: white;
    position: absolute;
}

.portfolio:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 15px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.portfolio:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.services {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    margin-left: 700px;
    margin-top: 20px;
    position: absolute;
}

.services:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 15px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; 
}

.services:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.book {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    margin-left: 1300px;
    margin-top: 20px;
    position: absolute;
    text-decoration: none;
}

.book:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 15px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;   
}

.book:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;  
}

.heart-of-midtown {
    color: white;
    font-family: "Lancelot", serif;
    font-size: 50px;
    margin-top: 220px;
    margin-left: 600px;
    position: absolute;
    font-weight: 100;
}