@font-face {
  font-family: "Bisdak";
  src: url("https://github.com/suak7/aktas-barbershop/raw/refs/heads/main/Bisdak.woff2");
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: black;
    margin: 0; 
    padding: 0;
}

.gradient-text {
    font-family: "Bisdak", sans-serif;
    font-weight: 400px;
    font-size: 80px;
    text-align: center;
    margin-top: 340px;
    margin-left: 120px;
    color: #c59e01;
    position: absolute;
}

.main-header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 250px;               
    flex-wrap: wrap; 
    width: 100%; 
    background-color: rgb(20, 20, 20);
}

.portfolio, .services, .book {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    color: white;
    position: relative; 
    cursor: pointer;
}

.book a {
    color: white;
    text-decoration: none;
}

.portfolio:after, .services:after, .book:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 16px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.portfolio:hover::after,
.services:hover::after,
.book:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.heart-of-midtown {
    color: white;
    font-family: "Lancelot", serif;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 570px;
    position: absolute;
    font-weight: 100;
}