@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

body {
    background-color: #0F0F0F;
    margin: 20px;
}

.barber-pole img {
    width: 300px;
    margin-top: -350px;
    margin-left: -40px;
}

.barber-pole:hover {
    transform: scale(1.05);
}

.gradient-text {
    font-family: "Bodoni Moda SC", serif;
    font-weight: 400px;
    font-size: 90px;
    text-align: left;
    margin-top: 80px;
    margin-left: 250px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}